
body{
    background-color: #1d2228;
    color: #e1e2e2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#header{
    position: relative;
    width: 100%;
    top: 0%;
    left: 0%;
    padding: 0px;
    margin-top: -10px;
    background-color:#1d2228;

}
.headline{
    padding-left: 5%;

}
#content{
    text-align: center;
    background-image: url(data/img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: auto;
    height: fit-content;
}
#headline{
    text-align: left;
    background-color: #1d2228;
    position: absolute;
    padding: 15px;
    margin: 35px;
    box-shadow:2px 2px #101316 ;
}
#footer{
    position: relative;
    width:100%;
    left: 0%;
    bottom: 0%;
    text-align: center;
    padding:0px;
    background-color: #1d2228;
}
.big-brake{
    margin: 25%;
}
